@font-face {
    font-family: "AppFont";
    src: url("file:///android_asset/fonts/Roboto-Regular.ttf");
}
@font-face {
    font-family: "AppFont";
    src: url("file:///android_asset/fonts/Roboto-Medium.ttf");
    font-weight: bold;
}

html,
body {
    font-family: "AppFont", sans-serif;
    font-size: 14px;
}

html { padding: 12px; }

body { padding: 0; }

h1,
h2,
h3 { font-weight: bold; }

h1 { font-size: 1.5em; }
h2 { font-size: 1.25em; }